nodered/flow
[
    {
        "id": "54d7ef21.e78b18",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "926788da.7e4f58",
        "type": "mqtt in",
        "z": "54d7ef21.e78b18",
        "name": "",
        "topic": "79699ba9-074d-4aa6-ac6a-ba1abf497b6a",
        "qos": "2",
        "broker": "d7574898.2242",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "d997a947.02f7d8"
            ]
        ]
    },
    {
        "id": "3d4f48e4.1b8138",
        "type": "debug",
        "z": "54d7ef21.e78b18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "d997a947.02f7d8",
        "type": "exec",
        "z": "54d7ef21.e78b18",
        "command": "/home/jklein/Projects/ProjectsMisc/nodered/outlookNotification.php",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "3d4f48e4.1b8138",
                "f7188ba.8fa9bf8"
            ],
            [],
            []
        ]
    },
    {
        "id": "f7188ba.8fa9bf8",
        "type": "mqtt out",
        "z": "54d7ef21.e78b18",
        "name": "",
        "topic": "19e24915-7418-47d8-b917-697e4ec66db8",
        "qos": "",
        "retain": "",
        "broker": "d7574898.2242",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "d7574898.2242",
        "type": "mqtt-broker",
        "z": "",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
